<nav class="bg-blue-700 text-white mb-2 md:rounded">
    <div class="max-w-7xl mx-auto px-3 py-2">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex flex-col items-center justify-start items-stretch justify-start">
                <h1 class="text-xl">
                    Job Scout
                </h1>
                <p class="text-blue-100 text-xs">Find your next job as Software Engineer</p>
            </div>
            <a href="#" class="flex items-center justify-center sm:items-stretch sm:justify-center">Search</a>
        </div>
    </div>
</nav>