@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0 auto; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    max-width:900px;
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

button {
    @apply cursor-pointer p-2 m-2 rounded bg-blue-700 text-white md:w-52 self-center;
}


button[disabled] {
    background-color: #aaa;
}

ul {
    list-style: none;
    padding: 0;
}

input[type='text'] {
    @apply p-2;
}

#app-container {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}